<h2>Pins</h2>
<div class="card-grid">
	<% @pins.each do |pingroup| %>
		<div class="row">
	    <% pingroup.each do |card| %>
		  <div class="col-md-4">
			  <div class="card panel">
			      <div class="panel-heading">
					  <% if card.user == current_user %>
					    <%= link_to 'Destroy', card, method: :delete, data: {confirm: "Are you sure?"}  %>
					  <% end %>
				  </div>
				  <div class="panel-body">
				    <p><%= image_tag card.image.url(:medium), style: "max-width:100%" %></p>
				  	<p style="word-wrap: break-word"><%= card.description %></p>
				  </div>
			  </div>
		  </div>
		<% end %>  
		</div>
	<% end %>
</div>
<%= link_to 'Create a new Pin', new_pin_path, class: "btn btn-primary" %>